<section class="page">
  <header class="header">
    <button class="header-add-button" (click)="adding = true">
      <i class="fas fa-plus"></i>
    </button>
    <div class="spacer"></div>
  </header>
  <!-- Search -->
  <div class="search">
    <!-- Logo -->
    <!-- <h1>Haum Morrocco</h1> -->
    <input class="search-input" type="search" placeholder="Type anything..." (focus)="showFilters = true; focus(true)"
      id="search" (keyup.enter)="showFilters = false; focus(false); search()" [(ngModel)]="selectedFilters.location">
    <button class="search-button" (click)="showFilters = false; focus(false); search()">
      <i class="fas fa-arrow-right"></i>
    </button>
    <!-- Filters -->
    <div class="filters" *ngIf="showFilters" (click)="focus(true)">
      <!-- Filter -->
      <section class="filters-filter" *ngFor="let filter of filterOptions | keyvalue">
        <span class="filters-filter-span">{{filter.key | titlecase}}</span>
        <div class="filters-filter-options">
          <button class="filters-filter-options-button" *ngFor="let option of filter.value"
            [class.filters-filter-options-button-active]="option === selectedFilters[filter.key]" (click)="(selectedFilters[filter.key] === option) ? clear(filter.key) : selectedFilters[filter.key] = option">{{option.toString() | titlecase}}</button>
        </div>
      </section>
    </div>
  </div>
  <footer class="footer"></footer>
</section>
<div class="close" *ngIf="showFilters" (click)="showFilters = false; focus(false)"></div>

<section class="page">
  <header class="header">
    <section class="header-filter" (click)="focus(true)">
      <input class="header-filter-input" type="search" *ngIf="selectedFilters.location" [(ngModel)]="selectedFilters.location"
        readonly>
      <button class="header-filter-button">
        <i class="fas fa-filter"></i>
      </button>
    </section>

  </header>
  <!-- Properties -->
  <div class="properties" *ngIf="properties?.length; else noProperties">
    <!-- Property -->
    <div class="properties-property" *ngFor="let property of properties" routerLink="/property/{{property.id}}">
      <header class="properties-property-header">
        <section class="properties-property-header-feature">
          <span class="properties-property-header-feature-span">97%</span>
        </section>
      </header>
      <!-- Property image -->
      <img class="properties-property-img" src="https://source.unsplash.com/collection/416011/300x150" alt="">
      <!-- Property body -->
      <main class="properties-property-main">
        <section class="properties-property-main-tags" *ngIf="property.tags">
          <span class="properties-property-main-tags-tag" *ngFor="let tag of property.tags">{{tag}}</span>
        </section>
      </main>
      <!-- Property footer -->
      <footer class="properties-property-footer">
        <section class="properties-property-footer-feature" *ngFor="let feature of
        {
          bath: 'bathrooms',
          bed: 'bedrooms',
          car: 'parking'
        } | keyvalue">
          <i class="fas fa-{{feature.key}} properties-property-footer-feature-i"></i>
          <span class="properties-property-footer-feature-span">{{property[feature.value]}}</span>
        </section>
        <span class="properties-property-footer-price">{{property.price | currency}}</span>
      </footer>
    </div>
  </div>
  <footer class="footer"></footer>
</section>

<dialog class="dialog" *ngIf="adding" open>
  <header class="dialog-header">
    <div class="spacer"></div>
    <button class="dialog-header-button" (click)="adding = false">
      <i class="fas fa-times"></i>
    </button>
  </header>
  <main class="dialog-main">
    <p class="dialog-main-p">
      To submit a listing please <a href="mailto:listings@haum.ma">email us</a>
    </p>
  </main>
</dialog>
<div class="close" *ngIf="adding" (click)="adding = false"></div>

<ng-template #noProperties>
  No results found
</ng-template>