$primary: rgba(5,5,255,1)
$secondary: rgba(225,225,225,1)

$shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23)

.search
    z-index: 2
    &-input
        border-radius: 1em 0em 0em 1em
        font-size: 1em
        border: none
        &:focus
            outline: 0
    &-button
        border-radius: 0em 1em 1em 0em
        border: none
        background: rgba(255,255,255,0)
    .filters
        display: flex
        flex-direction: column
        align-items: center
        &-filter
            width: 100%
            margin: 1em 0em 0em 0em
            &-span
                font-size: .9em
                margin: .5em 0em
            &-options
                display: flex
                &-button
                    flex: 1 0 0
                    background: rgba(255,255,255,0)
                    border: none
                    border-radius: 1em
                    border: 1px solid rgba(0,0,0,.5)
                    margin: .5em
                    &-active
                        background: $primary
                        color: white
                        border: none

.properties
    display: flex
    flex-wrap: wrap
    width: 100%
    z-index: 2
    &-property
        margin: 1em
        width: calc(50% - 2em)
        &-header
            /* position: absolute */
        &-img
            width: 100%
        &-main
            &-tags
                display: flex
                flex-wrap: wrap
                &-tag
                    background: $secondary
                    padding: .25em .5em
                    border-radius: 1em
                    margin: .25em
        &-footer
            display: flex
            justify-content: space-between
            flex-wrap: wrap-reverse
            &-features
                display: flex
            &-feature
                display: flex
                align-items: center
                margin: 0em 1em 0em 0em
                &:last-of-type
                    margin: 0em
                &-i
                    padding: 0em .25em 0em 0em
            &-price
                font-weight: 700

.page
    height: 100vh
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    scroll-snap-align: start
    flex-direction: column

.header
    display: flex
    width: calc(100% - 2em)
    align-items: center
    justify-content: center
    z-index: 2
    margin: 1em
    &-add
        &-button
            border: none
            background: rgba(255,255,255,0)
    &-filter
        display: flex
        &-input
            border-radius: 1em 0em 0em 1em
            font-size: 1em
            border: none
            &:focus
                outline: 0
        &-button
            border-radius: 0em 1em 1em 0em
            border: none
            background: rgba(255,255,255,0)

.footer

.dialog
    border: none
    position: fixed
    top: 50%
    left: 0
    z-index: 2
    box-shadow: $shadow
    &-header
        display: flex
        &-button
            border: none
            background: rgba(255,255,255,0)

@media (min-width: 600px)
    .properties
        width: 75%

@media (min-width: 900px)
    .properties
        &-property
            width: calc(25% - 2em)