<header class="header">
    <button class="header-back-button" (click)="goBack()">
      <i class="fas fa-arrow-left"></i>
    </button>
    <div class="spacer"></div>
  </header>
<div class="property" *ngIf="property">
    <!-- Images -->
    <div class="images">
        <img id="selectedImage" class="images-img" src="{{selectedImage.url}}">
        <section id="images" class="images-images">
            <img class="images-images-img" *ngFor="let image of property.images" [src]="image.url">
        </section>
    </div>
    <!-- Header -->
    <header class="property-header">
        <summary>
            <h1>{{property.name}}</h1>
            <h3><i class="fas fa-map-marker-alt"></i> {{property.location}}</h3>
            <!-- Features -->
            <div class="features">
                <section class="feature" *ngFor="let feature of features | keyvalue">
                    <i class="fas fa-{{feature.key}}"></i>
                    <span class="feature-span">{{feature.value}}</span>
                </section>
            </div>
        </summary>
        <section class="property-header-section">
            <h3>{{property.price | currency}}</h3>
            <button class="property-header-section-button">Enquire</button>
            <button class="property-header-section-button">Save</button>
        </section>
    </header>
    <main class="tags">
        <!-- Tags -->
        <span class="tag" *ngFor="let tag of property.tags">{{tag}}</span>
    </main>
    <!-- I have decided not to have a body now.
    I believe using tags encourages more efficient 
    listings and makes leads more likely to message
    the lister -->
</div>