.property
    width: 50%
    margin-left: auto
    margin-right: auto
    .images
        display: flex
        align-items: flex-start
        width: 50%
        &-img
        &-images
            &-img
                display: block
    &-header
        display: flex
        align-items: center
        justify-content: space-between
        .features
            display: flex
            .feature
                margin: 0em 1em 0em 0em
                &:last-of-type
                    margin: 0em
        .tags
            display: flex
        &-actions
            display: flex
            flex-direction: column